/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif; /* Define a fonte para Arial ou uma fonte sem serifa */
    background-color: #f4f4f4; /* Define a cor de fundo */
    display: flex; /* Usa flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Define a altura da viewport como 100% da altura da janela */
    margin: 0; /* Remove a margem padrão */
}

/* Contêiner de login */
.login-container {
    background-color: white; /* Define a cor de fundo como branca */
    padding: 40px; /* Aumenta o padding para 40px */
    width: 400px; /* Aumenta a largura para 400px */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao redor do contêiner */
    text-align: center; /* Centraliza o texto */
    border-radius: 8px; /* Adiciona cantos arredondados */
}

/* Estilo para o logotipo */
.login-container img {
    width: 230px; /* Define a largura do logotipo */
    margin-bottom: 20px; /* Adiciona margem inferior de 20px */
}

/* Estilo para o título */
.login-container h2 {
    margin-bottom: 20px; /* Adiciona margem inferior de 20px */
    font-weight: bold; /* Define o peso da fonte como negrito */
}

/* Grupo de formulários */
.form-group {
    margin-bottom: 20px; /* Adiciona margem inferior de 20px */
}

/* Estilo para os rótulos dos formulários */
.form-group label {
    display: block; /* Define a exibição como bloco */
    margin-bottom: 5px; /* Adiciona margem inferior de 5px */
}

/* Estilo para os campos de entrada */
.form-group input {
    width: 100%; /* Define a largura como 100% do contêiner pai */
    padding: 10px; /* Adiciona padding de 10px */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
    border: 1px solid #ccc; /* Define a borda com 1px e cor cinza */
    border-radius: 20px; /* Adiciona cantos arredondados */
    text-align: center; /* Centraliza o texto dentro do campo */
}

/* Grupo de botões */
.btn-group {
    margin-top: 20px; /* Adiciona margem superior de 20px */
}

/* Estilo para os botões */
.btn-group button {
    padding: 15px 20px; /* Adiciona padding de 15px vertical e 20px horizontal */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Altera o cursor para ponteiro ao passar sobre o botão */
    background-color: #007bff; /* Define a cor de fundo como azul */
    color: white; /* Define a cor do texto como branco */
    width: 100%; /* Define a largura como 100% do contêiner pai */
    border-radius: 20px; /* Adiciona cantos arredondados */
}

/* Estilo para os botões ao passar o mouse */
.btn-group button:hover {
    background-color: #0056b3; /* Altera a cor de fundo ao passar o mouse */
}

